<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
  <link rel="icon" href="images/favicon.png" sizes="32x32">
  <link rel="stylesheet" type="text/css" href="css/styles.css">
  <link rel="stylesheet" type="text/css" href="css/swiper.min.css">
  <link rel="stylesheet" type="text/css" href="css/common.min.css">
  <title>META's Todo list</title>
</head>

<body>
  <div id="app">
    <header v-if="!inputMode">
      <div class="f_left">
        <nav class="gnb">
          <button type="button" class="btn_menu"></button>
        </nav>
        <h1>관리함</h1>
      </div>
      <div class="f_right">
        <button type="button" class="btn_search"></button>
        <button type="button" class="btn_etc"></button>
      </div>
    </header>

    <section class="todo-wrapper">
      <div v-if="pending.length > 0">
        <p class="status busy">You have {{ pending.length }} pending item<span v-if="todoList.length>1">s</span></p>
        <transition-group name="todo-item" tag="ul" class="todo-list">
          <li v-for="(item, index) in pending" v-bind:key="item.title">
            <input class="todo-checkbox" v-bind:id="'item_' + item.id" v-model="item.done" type="checkbox">
            <label v-bind:for="'item_' + item.id"></label>
            <span class="todo-text">{{ item.title }}</span>
            <span class="delete" @click="deleteItem(item)"></span>
            <!-- <div class="swiper-container">
              <div class="swiper-wrapper">
                <div class="swiper-slide s1 todo-text">{{ item.title }}</div>
                <div class="swiper-slide s2"><i class="fas fa-calendar delete" @click="deleteItem(item)"></i></div>
                <div class="swiper-slide s3"><input class="todo-checkbox" v-bind:id="'item_' + item.id" v-model="item.done" type="checkbox">
                <label v-bind:for="'item_' + item.id"></label></div>
              </div>
            </div> -->
          </li>
        </transition>
      </div>

      <transition name="slide-fade">
        <p class="status free" v-if="!pending.length" ><img src="images/beer_celebration.svg" alt="celebration">Time to chill!  You have no todos.</p>
      </transition>

      <div v-if="completed.length > 0 && showComplete">
        <p class="status">Completed tasks: {{ completedPercentage }}</p>
        <transition-group name="todo-item" tag="ul" class="todo-list archived">
          <li v-for="(item, index) in completed" v-bind:key="item.title">
            <input class="todo-checkbox" v-bind:id="'item_' + item.id" v-model="item.done" type="checkbox">
            <label v-bind:for="'item_' + item.id"></label>
            <span class="todo-text">{{ item.title }}</span>
            <span class="delete" @click="deleteItem(item)"></span>
          </li>
        </transition>
      </div>
    </section>

    <footer v-if="!inputMode">
      <div class="control-buttons">
        <button type="button" class="btn btn-secondary" v-if="completed.length > 0" @click="toggleShowComplete"><span v-if="!showComplete">Show</span><span v-else>Hide</span> Complete</button>
        <button type="button" class="btn btn-secondary" v-if="todoList.length > 0" @click="clearAll">Clear All</button>
      </div>
      <button type="button" class="btn_add" @click="showInput"></button>
    </footer>

    <!-- inputMode // -->
    <header class="input_header" v-if="inputMode">
      <div class="f_left">
        <button type="button" class="btn_back" @click="hideInput"></button>
      </div>
    </header>
    <section class="todo-wrapper" v-if="inputMode">
      <div class="input_wrap">
        <div class="dimmed" @click="hideInput"></div>
      </div>
    </section>
    <footer class="input_footer" v-if="inputMode">
      <form @keydown.enter.prevent="">
        <input type="text" class="input_todo" id="inputTodo" v-bind:class="{ active: new_todo }" placeholder="Add todo list" v-model="new_todo" v-on:keyup.enter="addItem">
        <button type="button" class="btn_write" v-bind:class="{ active: new_todo }"  @click="addItem"></button>
      </form>
    </footer>
    <!-- // inputMode -->
  </div>


  <!-- Swiper -->
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide s1">오늘이 지나가면 내일이 온다</div>
      <div class="swiper-slide s2"><i class="fas fa-calendar"></i></div>
      <div class="swiper-slide s3"><i class="fas fa-check"></i></div>
    </div>
  </div>
  <script src="js/vue.min.js"></script>
  <script src="js/jquery-3.3.1.min.js"></script>
  <script src="js/swiper.min.js"></script>

  <!-- Initialize Swiper -->
  <script>
    var mySwiper = new Swiper('.swiper-container', {
      loop: true
    });
    mySwiper.on('slideChange', function () {
      //console.log('지워진다');
      //$('.swiper-wrapper').remove();
      $('.swiper-wrapper').animate({opacity: 0}, 1500, function() {
        $('.swiper-wrapper').remove();
      });
    });
  </script>
  <script src="js/main.js"></script>
</body>
</html>
